.personal-info {
  padding: 50px;

  &__inner {
    font-size: 18px;
  }

  &__title {
    padding: 5px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: solid black 1px;
  }

  &__elem {
    padding: 3px 5px;
  }

  &__description-elem {
    padding: 2px 5px;
    font-size: 14px;

    width: 100%;

    resize: none;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;

    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }
}